*{
    font-size: 16px;
    color: #202020;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    background: #eeeeee;
    overflow: hidden;
}

#right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    padding: 20px ;
    background: #eeeeee;
    border-left: 5px solid #4d4d4d;
}

#left{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 100vh;
    padding: 20px;
    overflow: auto;
    align-items: baseline;
    justify-content: space-evenly;
}

.gifDisplay {
    display: flex;
    margin: 10px;
}

#form {
    width: 100%;
}


#buttons {
    width: 100%;
    overflow: auto;

}

.button {
    color: #eee;
    background: #d88423;
    padding: 5px;
    border: 0px;
    margin: 5px;
    
}

input {
    margin: 5px;
    color: #d88423;
    background: #eee;
    border: 2px solid #d88423;
    width: 100%;

}

input[type = submit] {
    color: #d88423;
    background: #eee;
    border: 2px solid #d88423;
    margin: 5px;
    width: 100%;
}

input:focus {
    outline: none;
}

label {
    font-size: 24px;
    margin-bottom: 30px;
    color: #4d4d4d;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}


@media only screen and (max-width: 768px) { 
    *{
        font-size: 16px;
        color: #202020;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Roboto', sans-serif;

    }
    .container {
        flex-direction: column-reverse;
        height: 100vh;
    }
    #right {
        width: 100%;
        height: 250px;
        padding: 0;
        border-bottom: 5px solid #4d4d4d;
        border-left: none;
        /*-webkit-backface-visibility: hidden;*/
        
    }
    #left{
        width: 100%;
        /*height: 70%;*/
    }
    input {
        width: 50%;
    }
    input[type = submit]{
        width: 50%;
    }
    #buttons {
        white-space: nowrap;
        overflow-y: hidden;
    }

}
